@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  .form {
    max-width: 58vh;
    text-align: center;
    box-shadow: 5px 2px 5px 2px rgb(0 0 0/ 0.6);
    margin-top: 10vh;
    padding-bottom: 25px;
    margin-bottom: 8vh;
    background: #fffcfc;
    border-radius: 8px;
    height: 55vh;
  }

  .bg{
    background: rgb(255,72,171);
    background: linear-gradient(0deg, rgba(255,72,171,0.8547794117647058) 0%, rgba(209,20,255,1) 100%);
    height: 100vh;
  }

  .bttn {
    /* background: rgb(118,72,255); */
    background: linear-gradient(0deg, 
    rgba(118,72,255,0.8547794117647058) 0%,
     rgba(20,194,255,1) 100%) !important;
    border-color: rgb(184, 161, 255) !important;
    color: rgb(255, 255, 255) !important;
  }

